h2{
    /* font-size: 32px; */
    text-align: center;
}
button{
    justify-content: center;
    align-content: center;
    background-color: black;
    color: white;
    border-radius: 5px;
}